# User information
[user]
	name = Melanie Seltzer
	email = melleh11@gmail.com

# Git command aliases
[alias]
	aa = add -A .
	aacm = !git add -A . && git commit -m
	br = branch
	brd = branch -d
	brD = branch -D
	cm = commit -m
	co = checkout
	cob = checkout -b
	coo = !git fetch && git checkout
	fompom = !git fetch origin master && git pull origin master
	master = !git checkout master && git pull origin
	merged = branch --merged
	po = push origin
	phm = push heroku master
	pom = push origin master
	poh = push origin HEAD
	plo = pull origin
	plom = pull origin master
	ploh = pull origin HEAD
	rv = remote -v
	st = status
	unstage = reset --soft HEAD^

# Use colors in Git commands
[color "branch"]
	current = yellow reverse
	local = yello
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "status"]
	added = yellow
	changed = green
	untracked = red

# URL shorthands
[url "git@github.com:"]
	insteadOf = "gh:"
	pushInsteadOf = "github:"
	pushInsteadOf = "git://github.com/"

[url "git://github.com/"]
	insteadOf = "github:"

[url "git@gist.github.com:"]
	insteadOf = "gst:"
	pushInsteadOf = "gist:"
	pushInsteadOf = "git://gist.github.com/"

[url "git://gist.github.com/"]
	insteadOf = "gist:"
